@import url("components/footer.css");
@import url("components/form.css");
@import url("components/navbar.css");
@import url("components/cadre.css");
@import url("components/modal.css");
@import url("components/banner.css");


body {
  font-family: arial;
  text-align: center;
/*  padding-left: 100px;*/
  /*padding-right: 100px;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  color: #151515;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  margin: 2px;


}
h2, h3, h4, h5 {
  font-size: 30px;
  /*background: rgb(225,222,222);*/
  font-family: 'Cookie', cursive;
  text-align: center;
}

p, ul, ol {
  font-size: 18px;
}
ul, ol {
  text-align: center;
}
img {
  width: 300px;
  object-fit: cover;
}
a:hover {
  color: blue;
}

a, a:hover {
  text-decoration: none;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
}
.margin {
  display: flex;
  margin-left: 100px
  margin-bottom: 100px;
}



.btn-success {
  color: #fff;
  background-color: rgb(253,206,171);
  border-color: rgb(253,206,171);
  font-size: 18px;
  margin-top: -7px;
}


.typeform-widget {
  width: 40%;
  height: 300px;
  float: left;
}
.flexbox {
  background: #99b898;
  border: 3px solid #99b898;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  margin: 30px;
}

.maps {
  height: auto;
  width: 40%;
  margin: 20px;
}

.video {
  height: auto;
  width: 40%;
  margin: 20px;
}
.column {
  column-count: 2;
}




