body {
  background: #b8e5e5;
  font-family: arial;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  color: #151515;
  font-size: 40px;
  background: #b8e5e5;
  font-family: 'Cookie', cursive;
  margin: 2px;
}
h2, h3, h4 {
  font-size: 30px;
  background: #b8e5e5;
  font-family: 'Cookie', cursive;
}

p, ul, ol {
  font-size: 18px;
}
h4, ul, ol {
  text-align: left;
}
img {
  width: 300px;
  object-fit: cover;
}
a:hover {
  color: blue;
}

a, a:hover {
  text-decoration: none;
}

.div-top {
  border: 8px dotted #FFFFFF;
  border-radius: 20px;
  margin: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.div-centre {
  border: 10px solid #FFFFFF;
  border-radius: 20px;
  margin: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  padding-top: 0px;
}
